$circle-buttons-large: 50px;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin rounded-buttons {
  $size: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  height: $size;
  border-radius: 50%;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: hsl(0, 0%, 89%)
  }

  >img {
    width: 100%;
  }
}

header {
  position: relative;
  background-color: white
}

.header-main,
.header-search {
  @include flex-center;
  justify-content: space-between;
  height: 50px;

  >div {
    @include flex-center;

    [alt] {
      font-size: 10px;
    }
  }
}

.header-search {
  position: absolute;
  width: 100%;
  background-color: inherit;

  @media only screen and (min-width: 650px) {
    display: none;
  }
}

.header-main {
  column-gap: 70px;
  align-items: stretch;

  >div:first-of-type,
  >div:last-of-type {
    justify-content: space-between;
    flex-shrink: 0;
  }

  >div:first-of-type {
    width: 8.5em;
  }

  >div:last-of-type {
    width: 7.5em;
  }

  >div:nth-child(2) {
    flex-grow: 1;
  }
}

.menu-btn {
  @include rounded-buttons;
}

.nav-links {
  @include flex-center;

  >button {
    @include rounded-buttons;
  }

  .profile-btn {
    $size: 50px;
    width: $size;
    height: $size;

    &:hover {
      background-color: transparent;
    }
  }
}



.rounded-btn {
  @include rounded-buttons;
  flex-shrink: 0;
}

.hide {
  display: none;
}

@media only screen and (max-width: 650px) {
  .header-main {
    column-gap: 2px;

    >div:last-of-type {
      width: 6.6em;
    }

    .search-box {
      justify-content: flex-end !important;

      .search-bar {
        display: none !important;

        .search-icon {
          display: inline-flex;
        }
      }

      .search-btn {
        display: none !important;
      }


      .show-search-btn {
        display: inline-flex;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .search-box {
    .voice-search {
      display: none;
    }
  }
}