$circle-buttons-large: 50px;
$border-radius:30px;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin circle-buttons {
  $size: 40px;
  border-radius: 50%;
  width: $size;
  height: $size;
  padding: 8px;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: #eee
  }
}

header {
  @include flex-center;
  justify-content: space-between;
  padding: .2rem .25rem;
}

.guide {
  @include flex-center;

  .btn-menu {
    @include circle-buttons;
    margin-right: 0.7rem;
  }
}

.search-box {
  @include flex-center;
  flex-grow: 1;
  padding: 0 1rem;
  margin-left: 50px;

  .magnifier {
    display: none;
    margin: 0 0px 0 16px;
  }

  &:has(#search-input:focus) {
    .search-bar {
      $extension: 36px;
      flex-basis: calc($extension + 600px);
      margin-left: calc($extension * -1);
    }

    .magnifier {
      display: inline-flex;
    }

    #search-input {
      border: none;
      outline: none;
    }
  }

  .search-bar {
    display: flex;
    flex-basis: 600px;
    border: 1px solid #ccc;
    border-radius: 50px;

    .search-form {
      @include flex-center;
      flex-grow: 1;

      #search-input {
        flex-grow: 1;
        font-size: 16px;
        line-height: 24px;
        margin: .35rem 0;
        padding-left: 12px;
        background-color: transparent;
        border: none;
      }

      #search-button {
        @include flex-center;
        width: 64px;
        height: 100%;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border: none;
        border-left: 1px solid #ccc;
      }
    }
  }

  .search-button-narrow {
    display: none;
  }

  .btn-voice-search {
    @include circle-buttons;
    margin-left: .7rem;
    flex-shrink: 0;
  }
}

.nav-icons {
  @include flex-center;

  button {
    @include circle-buttons;
    margin-left: .5rem;

    &:last-child {
      background-color: #eee;
      width: $circle-buttons-large;
      height: $circle-buttons-large;
    }

    img {
      width: 100%;
    }
  }
}